@model PhotoSharing.Models.Photo

@{
    ViewBag.Title = "Display";
}

    <fieldset>
        <legend>
            @Model.Title
        </legend>
        @if (Model.PhotoFile!=null)
        {
            <img src="@Url.Action("GetImage","Photos",new { id=Model.PhotoID})" class="img-responsive img-rounded" />
        }

        <p>
            @Html.Raw(Html.DisplayFor(m => m.Description).ToString().Replace("\n","<br>"))
        </p>
        <p>
            @Html.DisplayNameFor(m => m.UserName)
            @Html.DisplayFor(m => m.UserName)
        </p>
        <p>
            @Html.DisplayNameFor(m => m.CreatedDate)
            @Html.DisplayFor(m => m.CreatedDate)
        </p>
    </fieldset>

@Html.Action("_CommentsForPhoto","Comments",new { PhotoID=Model.PhotoID})
<p>
    @Html.ActionLink("刪除","Delete",new { id=Model.PhotoID})
    @Html.ActionLink("返回列表","Index")
</p>